/* body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
} */


@font-face {
    font-family: 'mine-sweeperregular';
    src: url('/fonts/mine-sweeper-webfont.woff2') format('woff2'),
         url('/fonts/mine-sweeper-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


#board {
    width: 500px;
    height: 500px;
    border: 2px solid rgb(63, 62, 62);
    background-color: #c0c0c0;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;

    font-family: 'mine-sweeperregular', sans-serif;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-clicked {
    background-color: darkgrey;
}

.x1 {
    color: #0000ff;
}

.x2 {
    color: #008200;
}

.x3 {
    color: #fe0000;
}

.x4 {
    color: #000084;
}

.x5 {
    color: #840000;
}

.x6 {
    color: #008284;
}

.x7 {
    color: #840084;
}

.x8 {
    color: #757575;
}

.disabled {
    pointer-events: none;
}

#rows {
    background-color: #c0c0c0;
    height: 48px;
    width: 48px;
}

